body {
    background-color: white;
    color: rgb(7, 0, 0);
    font-size: 25px;
}

.dark-mode {
    background-color: rgb(42, 42, 43);
    color: white;
    transition: 0.2s ease-in-out 0.1ms;
}
.dark-mode-btn {
    border-radius: 10px;
    color: black !important;
}